.mian_container {
   width: 100%;
   height: 100%;
   display: flex;
   margin: 0 0;
   padding: 0 0;
}


.imageText {
   font-size: 500px;
   color: bisque;

}

.left_div {
   width: 250px;
   height: auto;
   background-color: burlywood;
   text-align: center;
   position: relative;

}

.left_top_logo_image {
   margin: 0 auto;
   margin-top: 20px;
}

.banner_div {
   width: 60%;
   height: auto;
   flex: 1;
   background-color: cadetblue;
   position: relative;
}

.left_ul {
   margin-top: 25px;
   padding: 0;
}

.left_ul li {
   list-style: none;
   padding: 15px 0;
   font-size: 18px;
   color: black;
}

.right_menu {
   position: absolute;
   top: 0;
   right: 0;
   text-align: center;
   background-color: rgba(0, 0, 0, 0.6);
   -webkit-box-shadow:4px 4px 0.5px #88888888;
   -moz-box-shadow:4px 4px 0.5px #88888888;
   box-shadow:4px 4px 0.5px #88888888;
   border-radius: 0 0 2px 2px;
}
.right_nav{
   float: left;
}

.right_nav ul {
   padding: 0;
}
.right_nav>ul>li>a{
   display: inline-block;
   padding: 15px 20px;
   text-decoration: none;
   color: white;
  
}


.right_nav>ul>li>a:hover{
   color: chartreuse;
}

.right_nav>ul>li {

   list-style: none;
   color: aliceblue;
   float: left;
   font-size: 16px;
   width: 120px;
  
}

.item_ul_right_menu{
   margin: 0 auto;
   padding: 0 0;
   background-color: white;
   position: absolute;
   border: #88888888 1px solid;
   border-radius: 0 0 1.5px 1.5px;
}
.item_ul_right_menu>li{
   list-style: none;
   text-align: center;
   width: 120px;
   white-space:nowrap;
}

.item_ul_right_menu>li>a{
   text-decoration: none;
   font-size: 14px;
   display: inline-block;
   vertical-align:middle;
   width: 98%;
   line-height: 40px;
   border-radius: 1.5px ;
   color: #555555;
   overflow:hidden;
}


@-moz-keyframes textColor{
   form{
      color:#555555;
   }
   to{
      color: white;
   }
}
@-o-keyframes textColor{
   form{
      color:#555555;
   }
   to{
      color: white;
   }
}
@keyframes textColor{
   form{
      color:#555555;
   }
   to{
      color: white;
   }
}

.item_ul_right_menu>li>a:hover{
   background-color: rgb(74, 175, 105);
   -webkit-animation: textColor 0.3s ease-in;
   -webkit-animation-fill-mode : forwards;

   -moz-animation: textColor 0.3s ease-in;
   -moz-animation-fill-mode : forwards;

   -o-animation: textColor 0.3s ease-in;
   -o-animation-fill-mode : forwards;

   animation: textColor 0.3s ease-in;
   animation-fill-mode : forwards;

}

.left_buttom_div {
   background-color: aliceblue;
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;

}

.left_buttom_div>ul {
   margin: 0;
   padding: 0;
}

.left_buttom_div>ul>li {
   list-style: none;
   padding: 10px 0;
}

.left_buttom_div>ul>li>a {
   text-decoration: none;


}

.tab_control {
   position: absolute;
   bottom: 20px;
   right: 20px;
   width: 600px;
   height: 300px;
   background-color: white;
   border-radius: 2px;

}
.tab_control>h4{
   padding: 10px 0 10px 10px ;
   margin: 0;
}
.tab_control>hr{
   margin: 0;
}

.buttom_text {
   text-align: center;
   position: absolute;
   width: 100%;
   height: 30px;
   bottom: 0;
   text-align: center;
}
.buttom_text p{
   font-size: 12px;
}

.buttom_text p {
   padding: 5px 0;
}


.hidde_menu{
   display: none;
}


