body{
    background: url("../img/login_bg.jpg") no-repeat fixed ;
    background-size: 100% 100%;
}

.head{
    width: 100%;
    height: 50px;
    background-color: rgb(245, 245, 245,0.5);
}
.head>a{
    display: inline-block;
    line-height: 50px;
    height: 50px;
    padding: 0 10px 0 10px;
    color: black;
    font-size: 18px;
}
.head>a:hover{
    text-decoration: none;
    background-color: darkgray;
    color: #eee;
}

.registerDiv{
    height: 50px;
    float: right;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    padding: 0 10px 0 10px;
}

.regidterImage{
    width: 20px;
    height: 20px;
    margin-top: 15px;
    float: right;
}
.textP{
    float: right;
    margin-left: 10px;
}
.loginContainer{
    width: 500px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    border: #eee 2px solid;
    transform: translate(-50%,-50%);
    border-radius: 4px;
    background-color: rgb(245, 245, 245,0.8);
}
.titleText{
    width: 100%;
    text-align: center;
    padding-top: 10px;
}
.titleTextP{
    font-size: 25px;
    font-weight: 700;
}
.input_outer{
    margin-top: 20px;
    text-align: center;
}
.u_user{
      display: inline-block;
      width: 60px;;
      text-align: justify;
      text-align-last: justify;
}

.usernameinput{
    height: 30px;
    width: 200px;
    padding: 0 5px 0 5px;
}
.forgetPasswordDiv{
    width: 270px;
    margin: 0 auto;
    margin-top: 10px;
}

.remenberPassword{
    display: inline-block;
}
.forgetPassword{
    float: right;
}

.forgetPassword:hover{
    text-decoration: none;
}
.loginButtonDiv{
    width: 100%;
    text-align: center;
}
.loginButton{
    width: 260px;
    height: 35px;
    margin-top: 20px;
    background-color: skyblue;
    border: blue 1px solid;
    border-radius: 2px;
    color: black;

}
.forgetPasswordDiv::after{
    clear: both;
    content: "";
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
}
